{{>admin_nav}}
<div class="col-sm-9">
	<h3>&nbsp;&nbsp;上传课程</h3><br>
	<form class="form-horizontal" role="form" 
		enctype="multipart/form-data" method="POST"
		action="/admin/{{account.id}}/course_upload">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">课程名称</label>
		<div class="col-sm-6">
			<input type="text" class="form-control"  required
			id="fieldName" name="name">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldTag" class="col-sm-2 control-label">课程标签</label>
		<div class="col-sm-6">
			 <select class="form-control" required name="tag">
			  <option value="Java">Java</option>
			  <option value="Android">Android</option>
			  <option value="IOS">IOS</option>
			  <option value="PHP">PHP</option>
			  <option value="Node.js">Node.js</option>
			</select>
			<input id="tag" type="hidden"  value='{{tag}}'>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldGrade" class="col-sm-2 control-label">适合年级</label>
		<div class="col-sm-6">
			 <select class="form-control" required name="grade">
			  <option value="大学一年级">大学一年级</option>
			  <option value="大学二年级">大学二年级</option>
			  <option value="大学三年级">大学三年级</option>
			  <option value="大学四年级">大学四年级</option>
			</select>
			<input id="grade" type="hidden"  value='{{grade}}'>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldPhoto" class="col-sm-2 control-label">上传封面</label>
		<div class="col-sm-4">
			<input type="file" class="form-control" required accept="image/*"
				id="fieldPhoto" data-url="/upload" name="photo">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldInfo" class="col-sm-2 control-label">课程简介</label>
		<div class="col-sm-8">
			<textarea name="info" rows='10' class="form-control" required></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-primary">提交</button>
		</div>
	</div>
</form>
</div>

{{#section 'jquery'}}
  <script>
	$('document').ready(function(){
		$('#header_nav li').eq(4).addClass('active');
		$('#admin_nav li').eq(2).addClass('active');
		var tag = $("#tag").val();
		$('option[value='+tag+']').eq(0).prop('selected',true);
		var grade= $("#grade").val();
		$('option[value='+grade+']').eq(0).prop('selected',true);
    	});
  </script>
{{/section}}