<div class="col-sm-3">
<ul class="nav nav-pills nav-stacked" id='course_nav'>
  <li role="presentation" id='all'><a href="/course/list">全部课程</a></li>
  <li role="presentation" id='Java'><a href="/course/list?tag=Java">Java</a></li>
  <li role="presentation" id='Android'><a href="/course/list?tag=Android">Android</a></li>
  <li role="presentation" id='IOS'><a href="/course/list?tag=IOS">IOS</a></li>
  <li role="presentation" id='PHP'><a href="/course/list?tag=PHP">PHP</a></li>
  <li role="presentation" id='Node.js'><a href="/course/list?tag=Node.js">Node.js</a></li>
</ul>
</div>