<div class="col-md-3"  style='margin-top:30px;'>
<ul class="nav nav-pills nav-stacked" id='course_nav'>
  <li role="presentation" id='all'><a href="/course/list">全部课程</a></li>
  <li role="presentation" id='Java'><a href="/course/list?tag=Java">Java课程</a></li>
  <li role="presentation" id='Android'><a href="/course/list?tag=Android">Android课程</a></li>
  <li role="presentation" id='IOS'><a href="/course/list?tag=IOS">IOS课程</a></li>
  <li role="presentation" id='PHP'><a href="/course/list?tag=PHP">PHP课程</a></li>
  <li role="presentation" id='Node'><a href="/course/list?tag=Node">Node.js课程</a></li>
</ul>
</div>