<div class="col-sm-3">
<ul class="nav nav-pills nav-stacked" id='note_nav'>
  <li role="presentation" id='all'><a href="/note/list">全部日记</a></li>
  <li role="presentation" id='Java'><a href="/note/list?tag=Java">Java相关</a></li>
  <li role="presentation" id='Android'><a href="/note/list?tag=Android">Android相关</a></li>
  <li role="presentation" id='IOS'><a href="/note/list?tag=IOS">IOS相关</a></li>
  <li role="presentation" id='PHP'><a href="/note/list?tag=PHP">PHP相关</a></li>
  <li role="presentation" id='Node.js'><a href="/note/list?tag=Node.js">Node.js相关</a></li>
</ul>
</div>