<div class="col-sm-3"  style='margin-top:30px;'>
<ul class="nav nav-pills nav-stacked" id='question_nav'>
  <li role="presentation" id='all'><a href="/question/list">全部问题</a></li>
  <li role="presentation" id='Java'><a href="/question/list?tag=Java">Java相关</a></li>
  <li role="presentation" id='Android'><a href="/question/list?tag=Android">Android相关</a></li>
  <li role="presentation" id='IOS'><a href="/question/list?tag=IOS">IOS相关</a></li>
  <li role="presentation" id='PHP'><a href="/question/list?tag=PHP">PHP相关</a></li>
  <li role="presentation" id='Node'><a href="/question/list?tag=Node">Node.js相关</a></li>
</ul>
</div>